@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="mt-3" src="https://cdn.pixabay.com/photo/2022/01/07/20/40/business-deal-6922628_1280.png" width="180" />
    <h1 class="display-4">Préstamos Raúl</h1>
    <p>En Préstamos Raúl, creemos que pedir un préstamo no debería ser complicado. Por eso, ofrecemos una solución sencilla y directa para que amigos y conocidos puedan ayudarse mutuamente. Sin papeleo, sin requisitos complicados, solo la confianza y la palabra entre personas que se conocen. Obtén un préstamo rápido y sin complicaciones hoy mismo.</p>
</div>
